@charset "UTF-8";

@media screen and (min-width: 200px) and (max-width:600px){
    *{
    
        font-family: Arial, Helvetica, sans-serif;
    }
    body{
        margin: 0px;
        padding: 0px;
    }
    
    header{
        display: flex;
        justify-content: center;
        height: 70px;  
    }
    div.container{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    div.logo{
       display: flex;
       align-items: center;
    }
    div.menu{
       display: flex;
       align-items: center;
       text-transform: uppercase;
       font-weight: 520;
    }
    .menu > a{
        font-family: Arial, Helvetica, sans-serif;
        padding: 15px;
        text-decoration: none;
        color: #727272;
        transition-duration: .4s;
    }
    .menu>a:hover{
        background-color: #39aae1;
        color: white;
    }
    #banner{
        display:flex;
        background-size: contain;
        justify-content: center;
        background: url('../imagens/img1-phone.jpg') no-repeat top center;
    }
    .column{
        flex-direction: column;
    }
    .banner_headline{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        padding: 20px;
    }
    .banner_headline h1{
        color: white;
        font-size: 2.5em;
        font-weight: 600;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.67);
        margin: 0px;
        padding-left: 10px;
        padding-top: 5px;
        max-width: 350px;
        width: 100vw;
    }
    .banner_headline h2{
        color: white;
        font-size: 17px;
        font-weight: 500;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.67);
        margin: 0px;
        margin-top: 30px;
        padding-left: 10px;
        max-width: 200px;
        
    }
    .banner_options{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-direction: column;
    }
    .banner1, .banner2, .banner3{
        flex: 1;
    }
    .banner1{
        background-color: #39aae1;
        padding: 20px;
        padding-top: 0px;
        color: white;
        align-items: center;
    }
    .banner1 h1{
        margin: 0px;
        margin-top: 8px;
    }
    .banner1 p{
        padding-bottom: 10px;
    }
    .banner1 a{
        text-decoration: none;
        border: 1px solid white;
        padding: 10px;
        color: white;
    }
    .banner2{
        background-color: #0079c7;
        padding: 30px;
        padding-top: 0px;
        color: white;
        align-items: center;
    }
    .banner2 p{
        padding-bottom: 10px;
    }
    .banner2 a{
        text-decoration: none;
        border: 1px solid white;
        padding: 10px;
        color: white;
    }
    
    .banner3{
        background-color: #2b4c99;
        padding: 30px;
        margin-bottom: 0px;
        padding-top: 0px;
        color: white;
        align-items: center;
    }
    .banner3 h1{
    
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    .week{
     display: flex;
     justify-content: space-between;
     margin: 0px;
     padding: 0px;
    }
    .saturday{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }
    .sunday{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
    }
    hr{
        margin: 0px;
        padding: 0px;
        text-decoration: dashed;
    }
    #geral{
        display: flex;
        justify-content: center;
    }
    #geral section{
        flex: 2;
        padding: 20px;
    }
    #geral aside{
       padding-left: 20px;
       padding-right: 20px;
    }
   
    .widget_title{
        display: block;
        margin: auto;
        height: auto;
        margin: auto;
        
    }
    .widget_title_text{
        color:black;
        font-size:21px;
        font-weight: bold;
        padding-left: 20px;
    }
    .widget_title_bar{
        width: 50px;
        height: 3px;
        background-color: #39aae1;
        margin-top: 5px;
        margin-left: 20px;
    }
    .widget_body{
        padding: 20px;
    }
    .container2{
        max-width: 300px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      
    .quadrado{
        width: 100px;
        height: 100px;
        margin: 5px;
        background-color: #39aae1;
        box-shadow: #000000;
      }
    .p{
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        font-size: medium;
    }
    .telefone{
        padding:10px ;
    }
    .email{
        padding: 10px;
    }
    .agenda{
        padding: 10px;
    }
    .flex{
        display: flex;
        flex-wrap: wrap;
    }
    article{
        flex: 1;
        min-width: 300px;
        margin-right: 30px;
    }
    article > a{
        text-decoration: none;
    }
    article .news_data{
        display: flex;
        margin-left: 25px;
    }
    article .news_posted_at{
        background-color: #2b4c99;
        color: white;
        font: 12px;
        padding: 10px;
        margin-right: 2px;
    }
    article .news_coments{
        background-color: #39aae1;
        color: white;
        font: 12px;
        padding: 10px;
    }
    article .news_thumb{
        margin-top: 20px;
    }
    article .news_thumb img{
        margin-left: 20px;
        width: 100%;
        height: auto;
    }
    .news_title{
        margin-top: 25px;
    }
    .news_title h1{
        max-width: 290px;
        font-size: 23px;
        font-weight: bold;
        color: black;
        margin-left: 25px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    article .news_resume{
        color: #5c5c5c;
        line-height:20px;
        text-align: justify;
        font-size:15px ;
        max-width: 290px;
        margin-bottom: 30px;
        margin-left: 25px;
    }
    #rodape{
        background-color: #000000df;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .elemento1{
        align-items: center;
        padding: 20px;
        background-color: #39aae1;
        color: white;
    }
    .elemento2{
        align-items: center;
        padding: 20px;
        background-color: #0079c7;
        color: white;
    }
    .elemento3{
        align-items: center;
        padding: 20px;
        background-color: #2b4c99;
        color: white;
    }
    section a {
        text-decoration: none;
        color: white;
    }
    section .h1 {
        margin: 0px;
        margin-bottom: 30px;
    }
    section .p{
        margin: 0px;
        padding-bottom: 30px;
    }
    .p_footer{
        padding: 0px;
    }
    section .artigo1{
        display: flex;
        justify-content: center;
    }
    #materias{
        background-color: #000000df;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }
    div.titulo_rodape{
        margin: 0px;
        display: flex;
        justify-content: center;
        color: white;
    }
    .title{
        max-width: 600px;
        margin-top: 30px;
        margin-bottom: 20px;
        
    }
    .title1{
        max-width: 600px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .title2{
        max-width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    footer .link_footer{
        color: #0079c7;
        padding: 0px;
        margin: 0px;
        margin-bottom: 20px;
    }
    section .linkfotter{
        color: #0079c7;
        margin-bottom: 20px;
    }
    .info_footer{
        display: flex;
        justify-content: space-between;
        margin: 0px;
        margin-top: 20px;
       
    }
    .address{
        color: #5c5c5c;
    }
    
    
    .info{
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        padding-right: 20px;
        color: #5c5c5c;
    }
    p.color_footer{
        color: #ffffff;
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    
    .bar_footer{
        width: 50px;
        height: 3px;
        background-color: #39aae1;
        margin-bottom: 20px;
    }
    .title_footer{
        color: white;
        font-weight: bold;
        margin: 0px;
    }
    .text_footer{
        color: #5c5c5c;
        font-size: 14px;
        margin: 0px;
        margin-bottom:5px;
    }
    .text_footer1{
        color: #5c5c5c;
        font-size: 14px;
        margin: 0px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .space{
        
        padding-right: 20px;
    }
    .color_text{
        color: #ffffff;
        margin: 0px;
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .color_text1{
        color: #ffffff;
        margin: 0px;
        padding-bottom: 5px;
    }
    .hr_footer{
        margin: 0px;
        padding: 0px;
    }
    .copy{
        background-color: #000000df;
        display: flex;
        justify-content: center;
    }
    .escuro{
        color: gray;
    }
    .claro{
        color: white;
    }
}